remoteassets/
*pycache*/
*log
results/
*.bat
verianim/
blender4.4_pdfs/
.env
logs/
downloads/
.venv
runs
runs-summary/
.env.backup*
qwen3-omni.md
local-docs
.*
paper/project_context.md

# latex build files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.lb
*.dvi
*.fdb_latexmk
*.synctex.gz
*.pdf
paper/figures
